@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}
.home-header {
  position: relative;
  height: 100vh;
  background-color: #F8F8F8;
  overflow-y: scroll;
}

.sidebar{
  position: fixed;
  width: 300px;
  height: inherit;
  background-color: gray;
}