@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}
.banner{
    display: flex;
    background-color: #00cc66;
    justify-content: space-between;
    margin: 50px;
    margin-top: 40px;
    padding: 35px;
    padding-right: 0;
    padding-bottom: 0;
    color: white;
    border-radius: 20px;
}

.banner-items > h2{
    margin: 17px 0;
    font-size: 40px;
    margin-bottom: 50px;
}

.banner-items > P{
    margin: 0px 0px 20px 0px;
    font-size: 40px;
}

.banner-items > button{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}
.banner-image{
    height: inherit;
    width: 260px;
    margin-right: 70px;
}

@media only screen and (max-width: 768px) {
  .banner{
    margin: 10px;
}

.banner-items > h2{
    margin: 17px 0;
    font-size: 20px;
}

.banner-items > P{
  margin-bottom: 17px;
    font-size: 20px;
}

.banner-items > button{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 11px;
}

.banner-image{
    height: inherit;
    width: 130px;
     margin-right: 30px;
}

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .banner{
    margin: 40px;
}

.banner-items > h2{
    margin: 25px 0;
    font-size: 30px;
}

.banner-items > P{
    font-size: 30px;
}

.banner-items > button{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 14px;
}

.banner-image{
    height: inherit;
    width: 200px;
}

}