@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}
.food-items{
    width: 300px;
    background-color: inherit;
    padding: 20px;
    margin: 28px;
    border-radius: 15px;
    box-shadow: 2px 1px 3px 3px #dadada;
    display: flex;
    flex-direction: column;
}

.food-rating{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-bottom: 10px;
    font-size: 23px;
}

.food-rating > span,
.food-rating > h4{
    margin: 0px 3px;
}

.food-rating > h4{
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-image{
    width: inherit;
    height: 180px;
    background-size: cover;
}

.food-name{
    font-size: 25px;
    margin-bottom: 20px;
     padding: 0px 10px;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
}

.food-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 30px;
    color: #F2B5C5;
    margin-bottom: 10px;
}

.food-amount > span{
    font-size: 27px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 768px){
    .food-items{
    width: 160px;
    padding: 10px;
    margin: 28px;
}

.food-rating{
    float: right;
    margin-bottom: 10px;
}

.food-rating > span,
.food-rating > h4{
    margin: 0px 3px;
}

.food-rating > h4{
    font-size: 13px;
}

.food-image{
    height: 90px;
}

.food-name{
    font-size: 16px;
    margin-bottom: 6px;
     padding: 0px 10px;
}

.food-amount{
    padding: 0px 10px;
    font-size: 23px;
    margin-bottom: 10px;
}

.food-amount > span{
    font-size: 17px;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .food-items{
    width: 250px;
    background-color: inherit;
    padding: 25px;
    margin: 28px;
    border-radius: 15px;
    box-shadow: 2px 1px 3px 3px #dadada;
    display: flex;
    flex-direction: column;
}

.food-rating{
    font-size: 20px;
}

.food-rating > span,
.food-rating > h4{
    margin: 0px 3px;
}

.food-rating > h4{
    font-size: 18px;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-image{
    height: 140px;
}

.food-name{
    font-size: 20px;
}

.food-amount{
    font-size: 25px;
}

.food-amount > span{
    font-size: 20px;
}
}