.header{
    padding: 15px 35px;
    margin: 0;
    font-family: system-ui;
}

.header-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0;
}

.header-right{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 0px 6px;
}

.cart{
    position: relative;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 25px;
}

.cart > span{
    font-size: 18px;
    position: absolute;
    color: black;
    padding: 2px;
    top: -10px;
    right: -6px;
    font-weight: bolder;
    border-radius: 50%;

}

.header-right > h1{
   margin:0px 15px;
}

h1{
    padding: 0;
    margin: 0; 
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    width: 100px;
}

@media only screen and (max-width: 768px){
    .header{
    padding: 15px;
}

.header-right{
    margin: 0px;
}

.cart{
    margin: 0px 10px;
    font-size: 20px;
}
}